/HW4/.ipynb_checkpoints/ATT_results1-checkpoint.csv
/HW4/.ipynb_checkpoints/ATT_results2-checkpoint.csv
/HW4/.ipynb_checkpoints/data1-checkpoint.csv
/HW4/.ipynb_checkpoints/HW4-checkpoint.ipynb
/HW4/.ipynb_checkpoints/HW4-checkpoint.pdf
/HW4/.ipynb_checkpoints/models_propensity-checkpoint.csv
/HW4/.ipynb_checkpoints/readme-checkpoint.txt
